*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.table-box table{
    width: 100%;
    text-align: center;
    color: rgb(80, 80, 80);
    border-collapse: collapse;
    background-image: linear-gradient(rgb(189, 189, 255, 0.05), rgba(153, 230, 255, 0.25));
}

.table-box thead th:hover {
    background-color: rgba(190, 239, 255, 0.5);
    cursor: pointer;
}

.table-box td, th {
    padding: 8px 24px;
}

.table-box tbody tr, .table-box thead tr {
    transition: .2s ease all;
    border-bottom: 1px solid grey;
}

.table-box tbody tr:hover {
    background-color: rgba(190, 239, 255, 0.5);
    cursor: pointer;
}

.table-box tbody tr:last-child {
    border-bottom: none;
}

.table-box tbody span{
    display: block;
    min-width: 40px;
    padding: 5px;
    border-radius: 20px;
    font-weight: 700;
}

.table-box tbody .up {
    color: rgb(0, 100, 0);
    background-color: rgb(0, 180, 0, 0.35);
}

.table-box tbody .up::before{
    content: '\2B06';
}

.table-box tbody .down {
    color: rgb(100, 0, 0);
    background-color: rgb(180, 0, 0, 0.35);
}

.table-box tbody .down::before{
    content: '\2B07';
}